<h1>Listing pairs</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairs.each do |pair| %>
  <tr>
    <td><%= pair.key %></td>
    <td><%= pair.value %></td>
    <td><%= link_to 'Show', pair %></td>
    <td><%= link_to 'Edit', edit_pair_path(pair) %></td>
    <td><%= link_to 'Destroy', pair, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pair', new_pair_path %>
